.content_container {
    margin-bottom: 40px;
    display: flex;
    font-size: 15px;
}

.content_container > img {
    width: 500px;
    cursor: pointer;
    object-fit: contain;
}

.content_container > div {
    width: 60%;
    box-sizing: border-box;
    padding: 15px;
}

/* 본문 프로필 영역 */
.profile_box {
    display: flex;
    margin-bottom: 16px;
}

.profile_box > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
}

.profile_box > div > span:first-child {
    font-size: 17px;
    margin-bottom: 3px;
    font-weight: 500;
}

.profile_box > img {
    width: 40px;
    height: 40px;
}

.content_container .profile_box > span, .content_container .profile_box > div:last-child > span {
    line-height: 40px;
    margin-left: auto;
    color: #666;
    font-size: 13px;
}

/* 본문 별점 영역 */
.content_container .star {
    /* margin: 10px; */
}

/* 본문 글 영역 */
.content_container > div > p {
    margin-bottom: 20px;
    position: relative;
    line-height: 20px;
}

.content_container > div > p::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #dadada;
    left: 0;
    right: 0;
    bottom: -12px;
}

/* 본문 좋아요, 댓글, 공유 영역 */
.content_container .like_container {
    margin-bottom: 60px;
    display: flex;
}

.content_container .like_container > div {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.content_container .like_container > div:hover {
    color: #666;
}

.content_container .like_container > div:not(:last-child) {
    margin-right: 27px;
}

.content_container .like_container > div:nth-child(1) {
    background-image: url("../icons/icon_heart_red.png");
    background-size: contain;
}

.content_container .like_container > div:nth-child(2) {
    background-image: url("../icons/comment-regular.svg");
}

.content_container .like_container > div:nth-child(3) {
    background-image: url("../icons/share-from-square-regular.svg");
}

.content_container .like_container > div > span:first-child {
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

.content_container .like_container > div > span {
    margin-left: 23px;
}

/* 본문 댓글 영역 */
.content_container > div > .comment_box > div {
    position: relative;
}
.content_container > div > .comment_box > div::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #dadada;
    left: 0;
    right: 0;
    bottom: -8px;
}

/* 댓글 모두 보기 글씨 */
.comment_box > span {
    display: block;
    font-size: 11px;
    color: #666;
    text-align: right;
    cursor: pointer;
}

/* 별점 */
.star {
    margin-bottom: 8px;
    display: flex;
}

.star > img {
    display: block;
    margin-right: 2px;
}

/* 댓글 영역 별점, 시간 부분 */
.content_container .profile_box > div:last-child {
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

.content_container .profile_box > div:last-child > .comment_star {
    display: flex;
    margin-right: 10px;
}

.content_container .profile_box > div:last-child > .comment_star > img {
    width: 14px;
    height: 14px;
    display: block;
    margin-right: 2px;
}