html, body {
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

button {
  padding: 0;
  border: none;
}

/* nav */
header {
  position: fixed;
  width: 100%;
  z-index: 500;
  background-color: white;
}

header>nav {
  width: 1200px;
  margin: 0 auto;
  padding: 10px 0 20px 0;
}

#gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#menu-btn {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);

  width: 30px;
  height: 30px;
  background: url("../images/menu_bar_icon.png") no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;

  display: none;
  z-index: 10;
}

#menu-btn>span {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

#gnb>ul {
  display: flex;
  gap: 15px;
}

#gnb>ul>li {
  width: 23px;
  height: 23px;
}

#gnb>ul>li>a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/search_icon.png") no-repeat;
  background-size: contain;
}

#gnb>ul>li:nth-child(2)>a {
  background: url("../images/user_icon.png") no-repeat;
  background-size: contain;
}

#gnb>ul>li:nth-child(3)>a {
  background: url("../images/heart_black_icon.png") no-repeat;
  background-size: contain;
}

#gnb>ul>li:nth-child(4)>a {
  background: url("../images/cart_icon2.png") no-repeat;
  background-size: contain;
}

#gnb>ul>li>a>span {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

#gnb>a:nth-child(2) {
  padding-right: 17px;
  background: url("../images/location_icon.png") no-repeat right;
  background-size: contain;
}

#gnb>a>img {
  width: 50px;
}

#gnb-menu {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

#gnb-menu>li {
  padding: 0 26.5px;
}

#gnb-menu>li>.sub-menu {
  display: none;
  position: absolute;
  left: 0;
  background-color: white;
  width: 100%;

  justify-content: flex-start;
  padding: 40px 350px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

#gnb-menu>li>.sub-menu>li {
  width: 30%;
}

#gnb-menu>li>.sub-menu>li>a {
  display: block;
  padding: 20px 25px;
}

#gnb-menu>li>.sub-menu>li>a:hover {
  background-color: #f3f3f3;
}

main {
  padding-top: 107px;
}

#cart-overlay {
  display: none;
  position: fixed;
  width: 400px;
  z-index: 100;
  background-color: white;
  border: 1px solid #9c9c9c;
  border-radius: 5px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px 0;
  box-sizing: border-box;
  /* background-color: rgba(0, 0, 0, 0.5); */

  /* display: none; */
}

/* #cart-overlay>div  */

#cart-overlay>p {
  text-align: center;
  margin-bottom: 20px;
}

#cart-overlay>div {
  display: flex;
  gap: 15px;
  justify-content: center;
}

#cart-overlay>div>button {
  display: none;
  background-color: transparent;
  /* width: 90px; */
  padding: 10px 20px;
  /* height: 40px; */
  border: 1px solid #9c9c9c;
  border-radius: 5px;
  cursor: pointer;
}

#cart-overlay>div>button.on {
  display: block;
}

#cart-overlay>div>button:first-child {
  color: #37817b;
  border: 1px solid #37817b;
}

#cart-overlay>div>button:hover {
  color: grey;
  border: 1px solid #bdbdbd;
}

#top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 43px;
  height: 43px;
  background-color: #e3e3e3;
  background: url("../images/up_icon_circle3.png") no-repeat;
  background-size: cover;
  cursor: pointer;
  z-index: 50;
  opacity: 0;
}

#top>span {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* footer */
footer {
  background-color: #004236;
  color: white;
}

footer a {
  color: white;
}

footer>div {
  width: 1700px;
  margin: 0 auto;
  padding: 60px 0;
  color: white;
}

footer>div:nth-child(1)>ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
  position: relative;
}

footer>div:nth-child(1)>ul:after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -105px;
  height: 1px;
  background-color: white;
  opacity: 0.5;
}

footer>div:nth-child(1)>ul>li>h4 {
  margin-bottom: 20px;
}

footer>div:nth-child(1)>ul>li>p,
footer>div:nth-child(1)>ul>li>ul>li>a,
footer>div>div {
  line-height: 25px;
  font-size: 14px;
}

footer>div:nth-child(1)>ul>li>a {
  font-size: 18px;
}

footer>div:nth-child(1)>ul>li>ul {
  margin-top: 8px;
}

footer>div>div {
  display: flex;
  justify-content: space-between;
}

footer>div>div>div>p:nth-child(1) {
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 20px;
}

footer>div>div>div>a:not(:last-child) {
  margin-right: 20px;
  position: relative;
}

footer>div>div>div>a:not(:last-child):after {
  content: "";
  position: absolute;
  top: 3px;
  bottom: 3px;
  right: -12px;
  background-color: white;
  width: 1px;
}