#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);

  display: none;
  /* opacity: 0; */
}

#overlay>div {
  background-color: white;
  width: 500px;
  border-radius: 8px;
  padding: 30px 40px;
  box-sizing: border-box;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#overlay>div>div {
  display: flex;
  justify-content: space-between;
}

#overlay>div>div>h3 {
  font-weight: bold;
  margin-bottom: 20px;
}

#overlay>div>div>button {
  background: url("../images/close_icon.png") no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
  cursor: pointer;
  opacity: 0.5;
}

#overlay>div>div>button:hover {
  opacity: 0.8;
}

#overlay>div>div>button>span {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

#overlay>div>ul {
  display: none;
}

#overlay>div>ul.on {
  display: block;
}

#overlay>div>ul>li {
  border: 1px solid #bbbbbb;
  border-radius: 6px;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 5px;
  cursor: pointer;
}

#overlay>div>ul>li.on {
  background-color: #37817b;
  border: 1px solid #1a5c56;
  color: white;
}

/* banner */
#banner-container {
  width: 100%;
  height: 372px;
  background: url("../images/new_in_banner_bg.png");
  position: relative;
  overflow: hidden;
}

#banner-container>ul {
  display: flex;
  position: absolute;
  top: 20px;
  left: 120px;
  gap: 15px
}

#banner-container>ul>li>a {
  position: relative;
}

#banner-container>ul>li:not(:last-child)>a::after {
  content: "/";
  padding-left: 20px;
}

#banner-container>div {
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translateY(-50%);
  opacity: 0;
}

#banner-container>div>h2 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}

#banner-container>img {
  position: absolute;
  /* top: -400px; */
  bottom: -350px;
  right: 0;
  opacity: 0;
}

/* product */
#product-container {
  width: 1700px;
  margin: 30px auto 120px auto;
}

#filter {
  background-color: #e9e9e9;
  display: flex;
  padding: 16px 30px;
  gap: 14px;
}

#filter>li {
  background-color: white;
  padding: 12px 35px 12px 20px;
  border-radius: 30px;
  cursor: pointer;
  position: relative;

}

#filter>li::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 20px;
  top: 17px;
  right: 17px;
  opacity: 0.8;
  background: url("../images/down_icon.png") no-repeat;
  background-size: contain;
}

#filter>li.on::after {
  background: url("../images/down_icon_white.png") no-repeat;
  background-size: contain;
}

#filter>li.on {
  background-color: #37817b;
  color: white;
}

#filter>li:last-child {
  background: none;
  background-color: #b8b8b8;
  color: white;
  /* border: 1px solid #777; */
  padding: 12px 23px;
}

#filter>li:last-child::after {
  background: none;
}

#product-container>p {
  margin: 30px 20px;
  color: #777;
  font-size: 15px;
}

#product-container>p>span {
  color: black;
  font-weight: bold;
}

#product-items {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  justify-content: flex-start;
}

#product-items>li {
  width: 16%;
  margin-bottom: 40px;
  display: block;
  position: relative;
}

#product-items>li.hide {
  display: none;
}

#product-items>li>div {
  position: relative;
}

#product-items>li>div>a:nth-child(1) {
  display: block;
  background-color: #e9e9e9;
  width: 100%;
  height: 273px;
  position: relative;
  margin-bottom: 20px;
}

#product-items>li>div>a:nth-child(1)>img {
  height: 220px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#product-items>li>div>button {
  position: absolute;
  right: 56px;
  bottom: 15px;
  width: 27px;
  height: 27px;

  background: url("../images/cart_icon2.png") no-repeat;
  background-size: contain;
  cursor: pointer;
  opacity: 0.7;
}

#product-items>li>div>button.like-btn {
  right: 20px;
  background: url("../images/icon_heart.png") no-repeat center;
  background-size: 25px;
}

#product-items>li>div>button>span {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

#product-items>li>h4 {
  margin-bottom: 8px;
}

#product-items>li>h4>a {
  font-weight: 470;
  font-size: 17px;
}

#product-items>li>span {
  display: block;
}

#product-items>li>span:nth-child(3) {
  margin-bottom: 15px;
  font-weight: 470;
  font-size: 17px;
}